<!-- addmovies.hbs -->

<h1>Movie Form</h1>

<form action="/api/movies" method="post">

    <label for="plot">Plot:</label>
    <textarea name="plot" id="plot"></textarea>

    <label for="genres">Genres:</label>
    <input type="text" name="genres" id="genres">

    <label for="runtime">Runtime (minutes):</label>
    <input type="number" name="runtime" id="runtime">

    <label for="cast">Cast:</label>
    <input type="text" name="cast" id="cast">

    <label for="poster">Poster URL:</label>
    <input type="text" name="poster" id="poster">

    <label for="title">Title:</label>
    <input type="text" name="title" id="title">

    <label for="fullplot">Full Plot:</label>
    <textarea name="fullplot" id="fullplot"></textarea>

    <label for="languages">Languages:</label>
    <input type="text" name="languages" id="languages">

    <label for="released">Released Date:</label>
    <input type="date" name="released" id="released">

    <label for="directors">Directors:</label>
    <input type="text" name="directors" id="directors">

    <label for="rated">Rated:</label>
    <input type="text" name="rated" id="rated">

    <label for="awards">Awards (JSON format):</label>
    <textarea name="awards" id="awards"></textarea>

    <label for="lastupdated">Last Updated:</label>
    <input type="text" name="lastupdated" id="lastupdated">

    <label for="year">Year:</label>
    <input type="number" name="year" id="year">

    <label for="imdb">IMDb (JSON format):</label>
    <textarea name="imdb" id="imdb"></textarea>

    <label for="countries">Countries:</label>
    <input type="text" name="countries" id="countries">

    <label for="type">Type:</label>
    <input type="text" name="type" id="type">

    <label for="tomatoes">Tomatoes (JSON format):</label>
    <textarea name="tomatoes" id="tomatoes"></textarea>

    <label for="num_mflix_comments">Number of Mflix Comments:</label>
    <input type="number" name="num_mflix_comments" id="num_mflix_comments">

    <button type="submit">Submit</button>
</form>
