<body>
  <h1>Movie Search Form</h1>

  <form action="/api/movies" method="get">
    <label for="page">Page:</label>
    <input type="text" name="page" id="page">
    <br>
    <label for="perPage">Items Per Page:</label>
    <input type="text" name="perPage" id="perPage">
    <br>
    <label for="title">Title:</label>
    <input type="text" name="title" id="title">
    <br>
    <input type="submit" name="submitForm" value="Submit">
  </form>

</body>
